{% extends "index.html" %}
{% block body %}


<div id="portfolio_chart"></div>

<p>Portfolio as of {{ ptf_date }}</p>
<p>Portfolio Value: {{ ptf.portfolio_market_value|round(2) }}</p>

<div class="table-responsive text-nowrap">
    <table class="table table-striped" id="portfolio_table">
        <thead>
            <tr>
                {% for col_name in df.columns %}
                <th scope="col">{{ col_name|replace("_", " ") }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key, value in df.iterrows() %}
            <tr>
                {% for v in value %}
                    {% if df.columns[loop.index - 1] == "isin" %}
                    <td><a href="/chart?isin={{v}}" target="_blank"> {{ v }} </a></td>
                    {% else %}
                    <td>{{ v }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td></td>
            <td><b>CASH</b></td>
            <td></td>
            <td>{{ (ptf.cash_weight * 100)|round(2) }}%</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ ptf.cash|round(2) }}</td>
            <td></td>
        </tfoot>
    </table>
</div>



<script>
<!--    formatting script-->

    var table = document.getElementById("portfolio_table")
    var table_body = document.querySelectorAll("#portfolio_table tbody td")
    var perf_cols = ["perf since open", "perf since last close", "pnl"]
    for(i = 0; i < table_body.length; ++i) {
        var table_elem = table_body[i]
        var corresponding_th = table_elem.closest("table").rows[0].cells[table_elem.cellIndex].textContent
        if(perf_cols.includes(corresponding_th)) {
            var perf = parseFloat(table_elem.textContent)
            if(perf >= 0) {
                table_elem.textContent = "+".concat(Number(perf * 100).toFixed(2), "%")
                table_elem.style.color = "green"
                }
            else {
                table_elem.textContent = Number(perf * 100).toFixed(2).concat("%")
                table_elem.style.color = "red"
                }
            }
        else if(corresponding_th == 'weight') {
            var weight = parseFloat(table_elem.textContent)
            table_elem.textContent = Number(weight * 100).toFixed(2).concat("%")
            }
        else if(["last price", "market value"].includes(corresponding_th)) {
            Number(parseFloat(table_elem.textContent)).toFixed(2)
            }
        };

</script>

<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/modules/data.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script>
    var ptf_chart_params = {{ ptf_chart_params|safe }}
    stockChart("portfolio_chart", ptf_chart_params)
</script>


{% endblock %}
