{% extends "index.html" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div id="var_chart"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped" id="portfolioRiskMetrics">
                            <thead>
                            <tr>
                                <th colspan="2" style="text-align:center">Portfolio Risk Metrics</th>
                            </tr>
                            </thead>
                            <tr>
                                <th>Annualized volatility</th>
                                <td>{{ ptf_vol }}</td>
                            </tr>
                            <tr>
                                <th>Sharpe ratio</th>
                                <td>{{ ptf_sharpe_ratio }}</td>
                            </tr>
                            <tr>
                                <th>Value at risk</th>
                                <td>{{ ptf_value_at_risk }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped" id="correlationMatrix">
                            <thead>
                            <thead>
                            <tr>
                                <th colspan="{{ names|length + 1 }}" style="text-align:center">Correlation Matrix</th>
                            </tr>
                            </thead>
                            <tr>
                                <td></td>
                                {% for stock_name in names %}
                                <th scope="col">{{ stock_name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in correlation_matrix %}
                            <tr>
                                <th>{{ names[loop.index - 1] }}</th>
                                {% for elem in row %}
                                <td>{{ elem|round(2) }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script>
    var var_chart_params = {{ var_chart_params|safe }}
    chart("var_chart", var_chart_params)






</script>

{% endblock %}
